<h1>{{ course.course_name }}</h1>
<h2>{{ course.course_description }}</h2>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}


<ul>
    {% for review in course.review_set.all %}
    <li> {{ review.review_text }} -- {{ review.student.user.username }}
        <a href= "{% url 'course:reviewZan' %}{{ course.id }}">
            {{ review.reviewzan_set.count }}
        </a>
    </li>
    {% endfor %}
</ul>


<form action="{% url 'course:addReview'  %}" method="post">
    {% csrf_token %}
    新评论:
    <input type="text" name="review_text" /><br />
    <input type="hidden" name="course_id" value="{{ course.id }}">
    <input type="submit" value="add" />
</form>
